/*@font-face {
  font-family: 'gotham';
  src: url('fonts/GOTHAM-LIGHT.TTF') format('truetype');
}

@font-face {
  font-family: 'gothamBold';
  src: url('fonts/GOTHAM-BOLD.TTF') format('truetype');
}

@font-face {
  font-family: 'gothamThin';
  src: url('fonts/GOTHAM-THIN.TTF') format('truetype');
}
*/

body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
}


/*---LOGIN---*/

body {
  background-color: #26223e;
}

#formularioLogin input {
  margin: 20px 0;
  width: 370px;
  height: 51px;
  font-family: gothamThin;
  padding: 5px;
  font-size: 24px;
  border-width: 0px;
  border-color: #FFFFFF;
  background-color: #f26522;
  color: #FFFFFF;
  border-style: solid;
  border-radius: 34px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, .75);
  text-shadow: undefined 0px 0px 5px px rgba(66, 66, 66, .75);
}

#formularioLogin input:focus {
  outline: none;
}

#formularioLogin ::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

#formularioLogin span, a {
  font-family: gothamThin;
  font-size: 22px;
  color: white;
  text-decoration: none;
}

#formularioLogin a {
  font-family: gothamBold;
}

#login {
  float: left;
  width: 380px;
  height: 200px;
  margin-left: 60px;
  margin-top: 405px;
}

#saturns {
  float: right;
  margin-top: 135px;
  margin-right: 35px;
}

#saturns h1 {
  font-family: gothamThin;
  font-size: 86px;
  color: white;
  letter-spacing: 40px;
}

#saturns h4 {
  margin-top: -30px;
  font-family: gothamBold;
  font-size: 34px;
  color: white;
  letter-spacing: 4px;
}

.images {
  float: right;
  margin-top: 140px;
  margin-right: 55px;
  z-index: -1;
}

.images img {
  margin: 0 15px;
}


/*------*/


/*---REGISTRO---*/

#registro {
  margin-top: 100px;
  margin-left: 22.5%;
  padding: 15px;
  width: 55%;
  height: 100%;
  background-color: white;
  /*--display: flex;--*/
}

#registro input {
  margin: 10px auto;
  width: 300px;
  height: 45px;
  font-family: gothamThin;
  padding: 5px;
  font-size: 24px;
  border-width: 0px;
  border-color: #FFFFFF;
  background-color: #f26522;
  color: #FFFFFF;
  border-style: solid;
  border-radius: 34px;
}

#registro input:focus {
  outline: none;
}

#registro h3 {
  font-family: gothamThin;
  font-size: 22px;
  color: black;
}

#registro .submitReg {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: right;
  cursor: pointer;
  padding: 5px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  font-family: gotham;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #26223e;
}

#registro .submitReg:hover {
  background: #4e4a67;
  background-image: -webkit-linear-gradient(top, #4e4a67, #4e4a67);
  background-image: -moz-linear-gradient(top, #4e4a67, #4e4a67);
  background-image: -ms-linear-gradient(top, #4e4a67, #4e4a67);
  background-image: -o-linear-gradient(top, #4e4a67, #4e4a67);
  background-image: linear-gradient(to bottom, #4e4a67, #4e4a67);
  text-decoration: none;
}


/*------*/


/*---Biblioteca---*/

#biblioteca .uploadBtn img {
  margin-left: 40%;
  z-index: 3;
  margin-top: 620px;
  /*position: fixed;*/
}

#biblioteca #profilePic {
  position: absolute;
  margin-left: 450px;
  z-index: 100;
  padding: 7px;
  width: 95px;
  height: 95px;
  background: linear-gradient(45deg, rgba(248, 143, 30, 1) 0%, rgba(236, 31, 51, 1) 50%, rgba(110, 44, 140, 1) 100%);
}

#biblioteca {
  background-image: url(images/img/Logo.png);
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background: white;
  min-height: 400px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

#biblioteca:after {
  display: block;
  content: " invisible node " flex(999 999 auto)
}


/*------*/


/*---Each post---*/


/*body {
  background-color: white;
}*/

#postH {
  flex: 0 0 auto;
  margin: 10px;
  width: 20%;
  background-color: white;
  -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5);
}

#postH .footer {
  background-color: #26223E;
  width: 100%;
  height: 25px;
}

#postH h5 {
  color: #F98F88;
  text-align: center;
}

#postH p {
  color: black;
  text-align: center;
}

#postH img {
  width: 100%;
}


/*------*/


/*---Upload---*/

#uploadPost {
  background: white;
  width: 50%;
  height: 450px;
  margin-left: 25%;
  margin-top: 150px;
  padding: 15px;
}

#uploadPost .desc {
  margin: 10px auto;
  width: 450px;
  height: 200px;
  font-family: gothamThin;
  padding: 5px;
  font-size: 24px;
  border-width: 0px;
  border-color: black;
  color: black;
  border-style: solid;
  border-radius: 34px;
  -webkit-box-shadow: inset 0px 0px 25px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: inset 0px 0px 25px -1px rgba(0, 0, 0, 0.52);
  box-shadow: inset 0px 0px 25px -1px rgba(0, 0, 0, 0.52);
}

#uploadPost .submitPost {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: right;
  cursor: pointer;
  padding: 5px;
  border-style: none;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  font-family: gotham;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f7675e;
}


/*------*/


/*---Post---*/

#post {
  width: 90%;
  height: 720px;
  float: right;
  background: white;
}

#post #izq {
  float: left;
  width: 70%;
  -webkit-box-shadow: inset 0px 0px 25px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: inset 0px 0px 25px -1px rgba(0, 0, 0, 0.52);
  box-shadow: inset 0px 0px 25px -1px rgba(0, 0, 0, 0.52);
  height: 720px;
}

#post img {
  padding: 5px;
  position: relative;
  width: 100%;
  margin-top: 95px;
}

#post #der {
  float: right;
  width: 30%;
}

#post .comentario {
  margin: 5px auto;
  width: 300px;
  height: 140px;
  font-family: gothamThin;
  padding: 5px;
  font-size: 24px;
  border-width: 0px;
  border-color: black;
  color: black;
  border-style: solid;
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 0px 25px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: inset 0px 0px 25px -1px rgba(0, 0, 0, 0.52);
  box-shadow: inset 0px 0px 25px -1px rgba(0, 0, 0, 0.52);
}

#post .header {
  position: absolute;
  text-align: center;
  width: 345px;
  height: 120px;
  -webkit-box-shadow: 0px 5px 25px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 5px 25px -1px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 5px 25px -1px rgba(0, 0, 0, 0.52);
}

#post .header h5 {
  color: #f7675e;
}

#post .comment {
  background-color: #26223e;
  margin-top: 459px;
  width: 345px;
  height: 261px;
  padding: 20px;
}

#post .env {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: right;
  cursor: pointer;
  padding: 5px;
  border-style: none;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  font-family: gotham;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f26522;
}


/*------*/
